.File {
    display: flex;
    font-size: 14px;
    line-height: 21px;
}

.file__wrapper {
    display: flex;
    border-bottom: 1px solid #ececec;
    padding: 20px 0 30px 0;
}

.File__preview-url {
    align-self: flex-start;
}

.File__size {
    font-weight: 400;
    color: #8a8a8e;
}

.File__name {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
}

.File__info {
    display: flex;
    flex-flow: column wrap;
    margin: 0 30px 0 10px;
}

.File__info-text-wrapper {
    display: flex;
}

.File__delete {
    border: none;
    background: none;
    color: red;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    margin: 0 0 0 15px;
}