.avatar {
    width: 20px;
    height: 20px;
}

.card__avatar {
    margin: 0 8px 0 0px;
}

.header-info__followers-avatar {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}