.SidebarList {
    margin: 30px 0;
}

.SidebarList__title {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #878787;
    margin: 0 0 11px 30px;
}

.SidebarList__button {
    margin: 10px 0 0 30px;
    background: none;
    border: none;
    color: #FFC200;
    height: 22px;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
}