* {
  margin: 0;
  padding: 0;
}

h2 {
  line-height: 27px;
}

body {
  display: flex;
  font-family: sans-serif;
  text-align: left;
  font-weight: bold;
  border-radius: 8px;
  background: #eeebe5;
}

.App {
  padding: 30px;
  display: flex;
}