.task {
    border-radius: 8px;
    background: #fff;
    color: #131313;
}

.task__container {
    padding: 0 30px 20px 30px;
}

.title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 20px 0;
}

.card {
    max-width: 345px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #f7f6f3;
    border-radius: 10px;
}

.card__wrapper {
    margin: 0 0 10px 0;
}

.card__wrapper_selected {
    background: #FFF8DD;
}

.card-header {
    font-size: 18px;
    line-height: 27px;
}

.full-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.full-task__full-description {
    margin: 20px 0 0 0;
}

.block-info__text {
    line-height: 20px;
    font-weight: 400;
}

.header-info__asign {
    display: flex;
    align-items: center;
}

.full-task {
    max-width: 636px;
    padding: 30px 30px 10px 30px;
    border-radius: 8px;
    background: #fff;
}

.full-task__container {
    margin: 0 0 0 30px;
}

.full-task__header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-info {
    display: flex;
}

.full-task__header-info__wrapper {
    padding: 0 0 30px 0;
    margin: 30px 0 0 0;
    border-bottom: 1px solid #ececec;
}

.full-task__button-wrapper {
    min-width: 100px;
    display: flex;
    justify-content: space-between;
}

.header-info__group {
    min-height: 50px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.full-task__description-wrapper {
    margin: 30px 0 0 0;
}

.card__department-wrapper {
    display: flex;
    align-items: center;
    margin: 0 0 0 40px;
}

.card__heading-wrapper {
    margin: 0 0 8px 0;
    display: flex;
}